# =========================
# Node.js
# =========================
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.mov
dist/
build/
logs/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.temp
coverage/
*.swp
